{
    "printWidth": 100,
    "tabWidth": 4,
    "singleQuote": false,
    "plugins": [
        "prettier-plugin-tailwindcss",
        "prettier-plugin-svelte",
        "prettier-plugin-organize-imports"
    ],
    "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
