@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Cerebro UI Components
 */

/* Toggle Overlay Button */
.cerebro-overlay-button.button-active {
    box-shadow: none;
    opacity: var(--icon-opacity-hover);
    color: var(--icon-color-hover);
    background-color: var(--background-modifier-hover);
}

.cerebro-overlay-button.pinned {
    color: var(--text-normal);
}

.cerebro-overlay-button.hidden,
.hide-button-from-toolbar .cerebro-overlay-button {
    display: none;
}

/* Inline Chat Button */
.cm-tooltip.cerebro-overlay-tooltip {
    border: none;
    background: none;
}
